@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;500;600;700&display=swap');

:root{
    --background-color: #000000;
    --bg-colorLight: #262525;
    --bg-colorDim: #1d1d1d;
    --text-black900: #0e0e0e;
    --text-black700: #121212;
    --text-black100: #1e1e1e;
    --text-black50: #262626;
    --color-primary: #0073ff;
    --color-white: #e9e9e9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

body {
    position: relative;
    background: linear-gradient(116deg, #f8c600 -15.11%, #fff 51.46%, #008207 113.99%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.hide{
    display: none;
}











/*
    //////////////////////////////
    /////       NAV BAR     //////
    //////////////////////////////
*/

.menu-bar{
    background-color: transparent;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.logo{
    color: #f77201;
    font-size: 25px;
}

.logo span{
    color: #008207;
}

.menu-bar ul {
    display: flex;
    z-index: 999;
}

.menu-bar ul li{
    padding: 10px 20px;
    position: relative;
}

.menu-bar ul li a{
    color: #008207;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.menu-bar ul li a:hover{
    color: #f77201;
}

.check-btn{
    position: fixed;
    right: 0;
    z-index: 1000;
    color: #f77201;
    font-size: 30px;
    line-height: 80px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}












/*
    ////////////////////////////////
    /////       FIREBASE      //////
    ////////////////////////////////
*/

h1{
    margin: 20px 0;
}

#enterDetails{
    text-align: center;
    height: 100%;
    color: #008207;
    padding: 10px;
}

.enterSta{
    padding: 5px;
    margin: 10px 0;
    width: 100%;
    height: 200px;
}

#findDetails{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.findDetail-text{
    text-align: center;
    color: #fff;
    padding: 40px;
}

input {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
}

button{
    background-color: #f77201;
    border: 0;
    border-radius: 4px;
    padding: 10px 10px;
    color: #1d1d1d;
    font-weight: 700;
    cursor: pointer;
}


#findDetails .search-bar button{
    padding: 15px 30px 15px 35px;
    border-radius: 0 40px 40px 0;
}

#findDetails .search-bar button img{
    width: 30px;
}


.search-bar{
    width: 100%;
    max-width: 700px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.2);
    align-items: center;
    border: 2px solid #f77201;
    border-radius: 60px;
}


.search-bar input{
    background-color: transparent;
    flex: 1;
    border: 0;
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 15px;
    color: #1e1e1e;
}


.search-bar input::placeholder{
    color: #7e7e7e;
}


.report-heading h4{
    text-align: center;
    padding: 50px 10px 10px 10px;
    color: #008207;
    font-size: 20px;
}







/*
    /////////////////////////////
    /////       TABLE      //////
    /////////////////////////////
*/

.table-container{
    padding: 0 10%;
    margin: 40px auto 0;
}

.heading{
    font-size: 40px;
    text-align: center;
    color: #008207;
    margin-bottom: 40px;
    margin-top: 100px;
}

.table{
    width: 100%;
    border-collapse: collapse;
}

.table thead{
    background-color: #008207;
}

.table thead tr th{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: #fff;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 1px solid #dee2e685;
}

.table tbody tr td{
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.35px;
    background-color: var(--color-white);
    color: var(--bg-colorLight);
    padding: 8px;
    text-align: center;
    border: 1px solid var(--bg-colorLight);
}

.table tbody tr td .btn{
    display: inline-block;
    width: 100px;
    line-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
    background-color: #f8c600;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border-radius: 4px;
    opacity: 1;
}

.table .text-open{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.35px;
    color: #ff4a05;
}









/*
    /////////////////////////////
    /////       MEDIA      //////
    /////////////////////////////
*/


@media (max-width: 1105px){
    .logo{
        font-size: 30px;
        padding-left: 20px;
    }

    .check-btn{
        display: block;
    }

    .menu-bar ul {
        display: block;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100vh;
        background: #008207;
        top: 0;
        bottom: 0;
        left: -100%;
        text-align: center;
        justify-content: center;
        transition: all 0.5s ease;
    }

    .menu-bar ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .menu-bar ul li a{
        font-size: 20px;
        color: #fff;
    }

    .menu-bar ul li .fas{
        display: none;
    }

    .menu-bar ul li a:hover {
        color: #f8c600;
    }

    #check:checked ~ ul{
        left: 0;
    }

    .table thead{
        display: none;
    }

    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
    }

    .table{
        margin-bottom: 100%;
    }

    .table tr{
        margin-bottom: 15px;
    }

    .table tbody tr td{
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .table td:before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 10px;
        font-weight: 700;
        font-size: 14px;
        text-align: left;
        color: #008207;
    }

    .search-bar{
        display: block;
        background-color: transparent;
        border: none;
        margin: 0 20px;
    }

    .search-bar input{
        background-color: rgba(255, 255, 255, 0.2);
        border: 2px solid #f77201;
        text-align: center;
        width: 100%;
    }

    #findDetails .search-bar button {
        width: 100px;
        border-radius: 4px;
        padding: 10px;
    }

    #findDetails .search-bar button img{
        width: 20px;
    }

    input {
        border: 0;
    }
}

