@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;500;600;700&display=swap');

:root{
    --background-color: #000000;
    --bg-colorLight: #262525;
    --bg-colorDim: #1d1d1d;
    --text-black900: #0e0e0e;
    --text-black700: #121212;
    --text-black100: #1e1e1e;
    --text-black50: #262626;
    --color-primary: #0073ff;
    --color-white: #e9e9e9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

body {
    position: relative;
    background: linear-gradient(116deg, #f8c600 -15.11%, #fff 51.46%, #008207 113.99%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

img{
    max-width: 100%;
}

.container{
    max-width: 90%;
    margin: 0 auto;
}

.row{
    display: flex;
}

.hide{
    display: none;
}











/*
    //////////////////////////////
    /////       NAV BAR     //////
    //////////////////////////////
*/
.menu-bar{
    background-color: transparent;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.logo{
    color: #f77201;
    font-size: 25px;
}

.logo span{
    color: #008207;
}

.menu-bar ul {
    display: flex;
    z-index: 999;
}

.menu-bar ul li{
    padding: 10px 20px;
    position: relative;
}

.menu-bar ul li a{
    color: #008207;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.menu-bar ul li a:hover{
    color: #f77201;
}

.dropdown-menu{
    display: none;
}

.menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--bg-colorDim);
}

.menu-bar ul li:hover .dropdown-menu ul{
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li{
    width: 100px;
    padding: 10px 5px;
}



.dropdown-menu-1{
    display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1{
    display: block;
    position: absolute;
    top: 0;
    left: 105px;
    background-color: var(--bg-colorDim);
}


.check-btn{
    position: fixed;
    right: 0;
    z-index: 1000;
    color: #f77201;
    font-size: 30px;
    line-height: 80px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}











/*
    //////////////////////////////
    /////       HERO        //////
    //////////////////////////////
*/

.hero{
    align-items: center;
}

.hero>*{
    flex-basis: 100%;
}

.content{
    text-align: center;
    max-width: 600px;
}

.content h1{
    font-weight: 900;
    font-size: clamp(40px, 6vw, 100px);
    color: #008207;
    text-transform: uppercase;
    line-height: 1;
    
}

.content p, .content a{
    font-weight: 500;
    font-size: 24px;
    color: #f77201;
    padding-top: 2em;
}

.content a{
    align-items: center;
    gap: 1em;
}

.content i{
    font-size: 2em;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.content a:hover i{
    color: var(--color-primary);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.img{
    position: relative;
}

.img span{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 75%;
    height: 7px;
    background-color: rgba(0, 0, 0, 0.6);
    filter: blur(5px);
    -webkit-filter: blur(5px);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}





/*
    ////////////////////////////////
    /////       FIREBASE      //////
    ////////////////////////////////
*/

h1{
    margin: 20px 0;
}

#enterDetails{
    text-align: center;
    height: 100%;
    color: #008207;
    padding: 10px;
}

.enterSta{
    padding: 5px;
    margin: 10px 0;
    width: 100%;
    height: 200px;
}

#findDetails{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.findDetail-text{
    text-align: center;
    color: #fff;
    padding: 40px;
}

input {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
}

button{
    background-color: #f77201;
    border: 0;
    border-radius: 4px;
    padding: 10px 10px;
    color: #1d1d1d;
    font-weight: 700;
    cursor: pointer;
}


#findDetails .search-bar button{
    padding: 15px 30px 15px 35px;
    border-radius: 0 40px 40px 0;
}

#findDetails .search-bar button img{
    width: 30px;
}


.search-bar{
    width: 100%;
    max-width: 700px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.2);
    align-items: center;
    border: 2px solid #f77201;
    border-radius: 60px;
}


.search-bar input{
    background-color: transparent;
    flex: 1;
    border: 0;
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 15px;
    color: #1e1e1e;
}


.search-bar input::placeholder{
    color: #7e7e7e;
}


.report-heading h4{
    text-align: center;
    padding: 50px 10px 10px 10px;
    color: #008207;
    font-size: 20px;
}






/*
    /////////////////////////////
    /////       MEDIA      //////
    /////////////////////////////
*/

@media screen and (max-width:1105px){
    .hero{
        flex-wrap: wrap-reverse;
        gap: 2em;
        padding: 2em 0;
    }

    .check-btn{
        display: block;
    }

    .menu-bar ul {
        display: block;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100vh;
        background: #008207;
        top: 0;
        bottom: 0;
        left: -100%;
        text-align: center;
        justify-content: center;
        transition: all 0.5s ease;
    }

    .menu-bar ul li{
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }

    .menu-bar ul li a{
        font-size: 20px;
        color: #fff;
    }

    .menu-bar ul li .fas{
        display: none;
    }

    .menu-bar ul li a:hover {
        color: #f8c600;
    }

    #check:checked ~ ul{
        left: 0;
    }
}

@media (max-width: 952px){
    .logo{
        font-size: 30px;
        padding-left: 20px;
    }

    .menu-bar ul li a {
        font-size: 15px;
    }
}